
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  color: black;
  overflow-x: hidden;
}
